<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p id="test" style="display: none;">Welcome to <%= title %>
  </p>
  <input id="url"
    value="https://www.amazon.in/s?k=samsung&crid=CZ12O4FOULM3&sprefix=samsung%2Caps%2C399&ref=nb_sb_noss_1"
    placeholder="URL" />
  <button onclick="submit()">Scrap</button>
  <br>
  <p id="output" placeholder="response"></p>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
  function submit() {
    url = document.getElementById("url").value;
    url = encodeURIComponent(url)
    var settings = {
      "url": `/getpage/${url}`,
      "method": "GET",
      "timeout": 0,
    };
    var me;
    document.getElementById("output").innerHTML = "getting data... Note: it may take some time , please wait";
    $.ajax(settings).done(function (response) {
      test = document.getElementById("test");
      test.innerHTML = response
      // let title = getElementByXpath("(//*[@class='a-size-medium a-color-base a-text-normal'])[1]");
      scrappedData = []
      let i = 1;
      while (getElementByXpath(`(//*[@class='a-size-medium a-color-base a-text-normal'])[${i}]`)) {
        i++;
        let title = getElementByXpath(`(//*[@class='a-size-medium a-color-base a-text-normal'])[${i}]`)
        let price = getElementByXpath(`(//*[@class='a-price-whole'])[${i}]`)
        let product = {
          "title": $(title).text(),
          "price": $(price).text()
        }
        scrappedData.push(product)
      }
      $.ajax({
        url: "/saveData",
        data: JSON.stringify(scrappedData),
        cache: false,
        processData: false,
        contentType: 'application/json',
        type: 'POST',
        success: function (dataofconfirm) {
            document.getElementById("output").innerHTML = "Data Saved to Database..";
        }
    });
      console.log(scrappedData)
      document.getElementById("output").innerHTML = "data found plz check browser console, Saving to Database..";
    });
  }
  function getElementByXpath(path) {
    return document.evaluate(path, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
  }

</script>

</html>
<!-- U41vP2j33Cv8QKiUrKMiEA -->